@(message: String, items: List[Resource], itemForm: Form[(String, String)]) 
@import helper._

@main("") {
    <div class="container secret-container">
	  <div class="row">
	    <div class="span12">
		@if(items.isEmpty) {
  			<h1>No items are present</h1>
			} else {
			<ul>
        		@items.map { item =>
            	<li>
                @item.name
                @form(routes.Staff.deleteItem(item.resourceID)) {
                    <input type="submit" value="Delete">
                }
            	</li>
                }
        	}
    		</ul>
                
                <h2>Add a new item</h2>

    @form(routes.Staff.addItem) {

        @inputText(itemForm("name"))
        @inputText(itemForm("description"))

        <input type="submit" value="Create">

    }
		</div>
	  </div>
	</div> <!-- /container -->
}