@(message: String, items: List[Resource])
@import helper._

@main("") {
    <div class="container secret-container">
	  <div class="row">
	    <div class="span12">
			
			@if(items.isEmpty) {
  			<h1>No reservations are present</h1>
			} else {
			<ul>
        		@items.map { reservation =>
            	<li>
                @item.name.
				@item.description.
                @form(routes.Staff.deleteReservation(item.id)) {
                    <input type="submit" value="Delete">
                }
            	</li>
        	}
    		</ul>
			
			
			
		</div>
	  </div>
	</div> <!-- /container -->
}