
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Server Side Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.css" rel="stylesheet"/>
	<link href="css/style.css" rel="stylesheet"/> 
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle= "collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Server-side Fitness</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="./index.html">Home</a></li>
              <li><a href="javascript:void(null)" onclick="goToGuest()">Guest</a></li>
              <li><a href="javascript:void(null)" onclick="goToMember()">Member</a></li>
			  <li><a href="javascript:void(null)" onclick="goToStaff()">Staff</a></li>
            </ul>
			<p class="navbar-text pull-right">Logged in as <a href="javascript:void(null)" onclick="sendUACModal()">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
    <div id="uacModal" class="modal hide fade in">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">x</a>
        <h3>Woah there, what kind of user are you?</h3>
      </div>
      <div class="modal-body">
		<button class="btn" id="guestToggle" data-toggle="button">Guest</button>
		<button class="btn" id="memberToggle" data-toggle="button">Member</button>
		<button class="btn" id="staffToggle" data-toggle="button">Staff</button>
        <div class="modal-footer">
          <a class="btn btn-primary" href="javascript:void(null)" onclick="storeUserClasses()">Save changes</a>
        </div>
      </div>
	</div>

    <div class="container">

      <div class="hero-unit">
	    <h1>Get Sweaty!</h1>
		<h2>Not Bored.</h2>
		<p>We're here to make sure that when you get to the gym, you're gonna' have a treadmill (or spin bike, or free weights, or racquetball court) waiting for you. Not the other way around.</p>
	  </div>
	  <div class="row">
	    <div class="span4">
		  <h2>Guests</h2>
		  <p>Feel free to check out our ammenities. We've got tons of equipment, and we're confident that once you see how fast you get in and get exercising, you'll need to become a member.</p>
		  <p><a class="btn" href="javascript:void(null)" onclick="goToGuest()">Take a look &raquo;</a></p>
		</div>
		<div class="span4">
		  <h2>Members</h2>
		  <p>Your time is valuable. So make sure you can walk in, get on your machine, and walk out. We have the most technically advanced "dibs" in existance (and becuase it's online, there's no fistfight with your brother about who called it first).</p>
		  <p><a class="btn" href="javascript:void(null)" onclick="goToMember()">Reserve it &raquo;</a></p>
		</div>
		<div class="span4">
		  <h2>Staff</h2>
		  <p>Some of us work here, too. After all, if nobody was here to take the medicine ball back, then who's going to make sure they don't keep rolling into the middle of the gym floor? All our staff are sphere-wrangling specialists (and we handle less regularly shaped equipment, too).</p>
		  <p><a class="btn" href="javascript:void(null)" onclick="goToStaff()">Get to work &raquo;</a></p>
		</div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.cookies.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
	</div>
  </body>
</html>
