@(message: String)

@main("") {
    <div class="container secret-container">
	  <div class="row">
	    <div class="span12">
		  <table class="table table-striped">
		    <thead>
			  <tr>
			    <th>Resource</th>
			    <th>Availability</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    <td>Goggles</td>
				<td><span id="goggle" class="label label-success" onclick="checkOutAvailable()">Available</span></td>
			  </tr>
			  <tr>
			    <td>Tennis Racket</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			  <tr>
			    <td>Racketball</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			  <tr>
			    <td>Weights</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			  <tr>
			    <td>Flippers</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			  <tr>
			    <td>Power Belt</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			  <tr>
			    <td>Tennis Shoes</td>
				<td><span class="label label-important" onclick="checkOutUnavailable()">Unavailable</span></td>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	</div> <!-- /container -->
}