@(message: String)

@main(""){
    <div class="container">
		<fieldset>
		<legend>Choose the item to check into the system</legend>
		<div class="clearfix">
		<label>Check In Items</label>
		<div class="input">
		<select>
		<option>Tennis Racquet</option>
		<option>Tennis Balls</option>
		<option>Goggles</option>
		<option>Flippers</option>
		<option>Weight Belt</option>
		<option>Racquet Ball</option>
		<option>Racquet Gloves</option>
		<option>Eye Protection</option>
		</select>
		</div>
		</div> <!-- /clearfix -->
		<button class="btn primary" type="submit">Save Changes</button>&nbsp;
		<!-- </div> -->
		</fieldset>
    </div> <!-- /container -->
}
 