@(message: String , taskForm: Form[String])
@import helper._

@main("") {
    <div class="container secret-container">
	  <div class="row">
	    <div class="span12">
			<ul>
			<li><!-- put in item ID -->
			@form(routes.Application.deleteItem()) {
            <input type="submit" value="Delete">               
             }                            
            </li>
            <li><!-- put in item ID -->
			@form(routes.Application.editItem()) {
            <input type="submit" value="Edit">               
             }                            
            </li>
			
			
			
			</ul>			
		</div>
	  </div>
	</div> <!-- /container -->
}